/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$enable-rounded: false;
$primary: #416E73 !default;

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP&display=swap');

body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  background: linear-gradient(135deg, #f0f0f0, #ffffff);
}

.navbar-bg {
  background: linear-gradient(90deg, #9BCEFF, #AFE0ED);
}

.logo {
  font-family: 'Dosis', sans-serif;
}

.card-org {
  border: 2px solid #A6BDBF;
  background: linear-gradient(-135deg, #9BCEFF, #AFE0ED);
}

.sub-title {
  font-size: 15px;
}

.sell-item-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.gnavi a{
    /*線の基点とするためrelativeを指定*/
  position: relative;
}

.gnavi a:hover{
  color:#000;
}

.gnavi a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 15px;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#000;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
.gnavi a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.col4 {

}

.container {
  display: flex;
  align-content: space-between;
}